<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markchung.library" >
	<uses-sdk android:minSdkVersion="4" />
    <activity android:name="MainActivity" />
    <activity android:name="ConverterActivity" />
    <activity android:name="CompassActivity" />
    <activity android:name="Activity_Evaluate" />
    <activity
        android:name="DetailActivity" 
        android:screenOrientation="portrait"
        android:theme="@style/NoTitleTheme" />

</manifest>